sim_outcome_*.txt
sim_outcome.pdf
*.py~
*.sh~
dzA_values_*.txt
theta_values_*.txt
alaamee_simexample-*.err
alaamee_simexample-*.out
dzA_values_*.pdf
theta_values_*.pdf
alaamee_karate-*.out
alaamee_karate-*.err
alaamee_covariance_simexample-*.out
alaamee_covariance_simexample-*.err
alaamee_simexampleN1000-*.err
alaamee_simexampleN1000-*.out
alaamee_covariance_karate-*.out
alaamee_covariance_karate-*.err
alaamee_covariance_simexampleN1000-*.out
alaamee_covariance_simexampleN1000-*.err
gof_alaam_sim_example-*.err
gof_alaam_sim_example-*.out
obs_stats_sim_n500.txt
stats_sim_gof_n500-plots.eps
stats_sim_gof_n500.txt
slurm-*.out
