alaamee_GEMSEC_Deezer_??-*_*.out
alaamee_GEMSEC_Deezer_??-*_*.err
gof_alaam_sim_gemsec_deezer_??-*.err
gof_alaam_sim_gemsec_deezer_??-*.out
estimation_??.txt
sim_deezer_??_outcome_*.txt
alaamee_covariance_gemsec_deezer_??-*.err
alaamee_covariance_gemsec_deezer_??-*.out
gof_alaam_sim_gemsec_deezer_??-*.err
gof_alaam_sim_gemsec_deezer_??-*.out
obs_stats_sim_deezer_??.txt
stats_sim_gof_deezer_??-plots.eps
stats_sim_gof_deezer_??.txt
sim_deezer_??_outcome_alternative.pdf
plot_model_degeneracy_checks.out
model_stats_sim_gof_deezer_hr-plots.eps
model_stats_sim_gof_deezer_hr.txt
model_stats_sim_gof_deezer_hu-plots.eps
model_stats_sim_gof_deezer_hu.txt
model_stats_sim_gof_deezer_ro-plots.eps
model_stats_sim_gof_deezer_ro.txt
jobtimes_*
model_stats_sim_gof_deezer_??-plots.pdf
