parallel.log
dzA_values_crime_bipartite.pdf
estimation_StLouisCrime_bipartite.txt
obs_stats_sim_evtusehnko_bipartite.txt
stats_sim_gof_evtusehnko_bipartite-plots.eps
stats_sim_gof_evtusehnko_bipartite.txt
theta_values_crime_bipartite.pdf

alaam_sa_stlouiscrime_*.out
alaam_sa_stlouiscrime_*.err
