*.sh~
*.py~
dzA_values_*.txt
dzA_values_*.eps
theta_values_*.txt
theta_values_*.eps
alaamee_simexample-*.err
alaamee_simexample-*.out
dzA_values_*.pdf
theta_values_*.pdf
alaamee_karate-*.out
alaamee_karate-*.err
~

