*.sh~
dzA_values_*.txt
dzA_values_*.eps
theta_values_*.txt
theta_values_*.eps
alaam_sa_karate-*.err
alaam_sa_karate-*.out
alaam_sa_simn500-*.err
alaam_sa_simn500-*.out
alaam_sa_intel_python_karate-*.out
alaam_sa_intel_python_karate-*.err
alaam_sa_simn1000-*.out
alaam_sa_simn1000-*.err
stats_sim_n500-plots.eps
stats_sim_n500.txt
obs_stats_sim_n500.txt
stats_sim_gof_n500-plots.eps
stats_sim_gof_n500.txt
stats_sim_n500_zoo-plots.eps
stats_sim_n500_zoo.txt
alaam_sa_simn500_zoo-*.err
alaam_sa_simn500_zoo-*.out
