alaam_sa_highschool_gender*.out
alaam_sa_highschool_gender*.err
alaam_sa_highschool_class*.out
alaam_sa_highschool_class*.err
sim_outcome_*.txt
obs_stats_sim_highschool.txt
sim_outcome.pdf
stats_sim_gof_highschool-plots.eps
stats_sim_gof_highschool.txt
sim_outcome_vs_random.pdf
sim_outcome_*.pdf
stats_sim_gof_highschool_*.txt
stats_sim_gof_highschool_*-plots.eps
simulate_gof_highschool_slurm_script.out
simulate_gof_highschool_model6_slurm_script.out
