s50_ALAAM.clu
s50_ALAAM_est.txt
s50_Network_A_0.txt
s50_Network_M_0.txt
s50_model.txt
s50_update.txt
alaam_sa_s50_simple_model-*.err
alaam_sa_s50_simple_model-*.out
alaam_sa_s50-*.err
alaam_sa_s50-*.out
s50_Alaam_Last.clu
s50_gof.txt
s50_sim.txt
s50_spss.sps
s50_gof_stats-plots.eps
s50_gof_stats.txt
