alaamee_bipartite_inouye-*.err
alaamee_bipartite_inouye-*.out
obs_stats_sim_inouye_bipartite.txt
stats_sim_gof_inouye_bipartite.txt
stats_sim_gof_inouye_bipartite-plots.eps
gof_alaam_sim_bipartite_example-*.err
gof_alaam_sim_bipartite_example-*.out
